*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 940px;
    margin: 50px auto;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.fl{
    float: left;
}
.contenitore-{
    width: 300px;
    height: 500px;
    margin-right: 20px;
}
.foto-{
    width: 300px;
    height: 400px;
    position: relative;
}
.terzo, .sesto{
    margin-right: 0;
}
.sconto-50, .sconto-30{
    width: 40px;
    height: 20px;
    background-color: red;
    position: absolute;
    bottom: 10px;
    left: 0;
    color: white;
}
.sostenibilità{
    width: 100px;
    height: 20px;
    background-color: green;
    position: absolute;
    left: 50px;
    bottom: 10px;
    color: white;
    text-align: center;
}
.sostenibilità-2{
    width: 100px;
    height: 20px;
    background-color: green;
    position: absolute;
    left: 0px;
    bottom: 10px;
    color: white;
    text-align: center;
}
.heart{
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 0;
}
.paragrafo{
    width: 100%;
    height: 60px;
    background-color: greenyellow;
    position: relative;
}
.p-rettangolo{
    position: absolute;
    top: 10px;
    left: 10px;
}
p{
    font-size: 15px;
    margin: 5px 0 5px 0;
}
.prezzo-red{
    font-size: 15px;
    font-weight: bold;
    color: red;
}
.prezzo-black{
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.prima{
    background-image: url(./img/1.webp);
    background-size: cover;
}
.seconda{
    background-image: url(./img/2.webp);
    background-size: cover;
}
.terza{
    background-image: url(./img/3.webp);
    background-size: cover;
}
.quarta{
    background-image: url(./img/4.webp);
    background-size: cover;
}
.quinta{
    background-image: url(./img/5.webp);
    background-size: cover;
}
.sesta{
    background-image: url(./img/6.webp);
    background-size: cover;
}
.prima:hover{
    background-image: url(./img/1-hover.webp);
    background-size: cover;
}
.seconda:hover{
    background-image: url(./img/2-hover.webp);
    background-size: cover;
}
.terza:hover{
    background-image: url(./img/3-hover.webp);
    background-size: cover;
}
.quarta:hover{
    background-image: url(./img/4-hover.webp);
    background-size: cover;
}
.quinta:hover{
    background-image: url(./img/5-hover.webp);
    background-size: cover;
}
.sesta:hover{
    background-image: url(./img/6-hover.webp);
    background-size: cover;
}