*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 700px;
    height: 750px;
    background-color: red;
    margin: 90px auto;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.fl{
    float: left;
}

.foto-{
    background-color: blue;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin-right: 50px;
    margin-bottom: 100px;
    position: relative;
}
.terza, .sesta{
    margin-right: 0;
}
.sconto-50{
    background-color: red;
    width: 40px;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 10px;
    color: white;
}
.sostenibilità{
    width: 80px;
    height: 20px;
    background-color: greenyellow;
    position: absolute;
    left: 50px;
    bottom: 10px;
    color: white;
}
